<div class="container-fluid">
<div class="container">
  <div class="card-product">
    <%= cl_image_tag @repuesto.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @repuesto.modelo %></h2>
      <h2><%= @repuesto.marca %></h2>
      <h2><%= @repuesto.link %></h2>
      <h2><%= @repuesto.precio  %></h2>
      <p><%= @repuesto.disponible %></p>
    </div>
  </div>
</div>
</div>
