<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card-product mr-2">
      <%= cl_image_tag @maquinariapesada.photo.key, height: 600, width: 800, crop: :fill %>
      <div class="card-product-infos">
        <h2 style="font-size: 18px"><%= @maquinariapesada.marca %></h2>
        <h2 style="font-size: 18px"><%= @maquinariapesada.modelo %></h2>
        <p class="availability" style="font-size: 14px;"><%= @maquinariapesada.availability %></p>
      </div>
      <%= render 'shared/skl_info' %>
    </div>
    <div class="card-product description-card">
      <h3 style="font-size: 18px">Descripción (<a href="<%= @maquinariapesada.link.to_s %>" style="font-size: 16px">Ficha técnica</a>):</h3>
      <h3 style="font-size: 18px"><%= @maquinariapesada.descripcion %></h3>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="container buttons">
    <%= link_to "Edit", edit_maquinariapesada_path(@maquinariapesada), class: "btn btn-outline-dark" %>
    <%= link_to "Delete", maquinariapesada_path(@maquinariapesada), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Está seguro?" } %>
    </div>
  <% end %>
</div>
