<div class="container">
<H3>Gruas</H3>
<%= simple_form_for( @grua,
  data: {turbo: false}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

              <%# NEW INPUTS  %>
    <%= f.input :marca, label: "Marca",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "marca" }%>

    <%= f.input :modelo, label: "Modelo ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "modelo" }%>

    <%= f.input :disponible, label: "disponibilidad: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "disponible" }%>

    <%= f.input :link, label: "link a especificaciones ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "link" }%>
    <%= f.input :photo, as: :file %>





  </div>

  <div class="btn btn-flat" style="color:white">
    <%= f.button :submit, "Crear grua" %>
  </div>
<% end %>

</div>
