<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to equipos_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610580/logo_skl_bagtzk.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Grua ", new_grua_path, class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Maquinaria Pesada", new_maquinariapesada_path, class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Tractores", new_tractor_path, class: "btn-flat" %>
          </li>
            <li  style="font-size:24px;color:$azul_skl!;">
            <%= link_to "Repuestos", new_repuesto_path, class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!;">
            <%= link_to "Equipos Venta", new_vento_path, class: "btn-flat-rojo" %>
          </li>
          <li style="font-size:24px;color:$azul_skl!;">
              <%= link_to "Salir", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-flat" %>
            </li>
        <% else %>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Gruas",gruas_path ,class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Tractores y agricola",tractors_path ,class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Maquinaria Pesada",maquinariapesadas_path ,class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!;">
            <%= link_to "Repuestos", repuestos_path, class: "btn-flat" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!">
            <%= link_to "Venta de equipos",ventos_path ,class: "btn-flat-rojo" %>
          </li>
          <li  style="font-size:24px;color:$azul_skl!;">
            <%= link_to "Login", new_user_session_path, class: "btn-flat" %>
          </li>



        <% end %>
      </ul>
    </div>
  </div>
</div>
