<div class="container-fluid">
  <div class="container">
    <div class="card-product">
      <%= cl_image_tag @vento.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= @vento.modelo %></h2>
        <h2><%= @vento.marca %></h2>
        <h2><%= @vento.link %></h2>
        <h2><%= @vento.precio %></h2>
        <p><%= @vento.disponible %></p>

      </div>
  </div>
</div>
</div>
