<!-- NAVBAR -->
<header class="main-header style-two">
    <div class="header-upper">
        <div class="large-container">
            <div class="outer-box clearfix">
                <div class="logo-box pull-left">
                    <%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610580/logo_skl_bagtzk.jpg", class: "logo-skl mt-3 ms-5" %>
                </div>
                <div class="menu-area pull-right clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="index-2.html">Equipos</a>
                                    <ul>
                                        <li class="dropdown"><a href="index-2.html">Grúas<i class="fa-regular fa-screwdriver-wrench"></i></a>
                                            <ul>
                                                <li><a href="index.html">Header Style One<i class="flaticon-next"></i></a></li>
                                                <li><a href="index-2.html">Header Style Two<i class="flaticon-next"></i></a></li>
                                                <li><a href="index-3.html">Header Style Three<i class="flaticon-next"></i></a></li>
                                                <li><a href="index-4.html">Header Style Four<i class="flaticon-next"></i></a></li>
                                                <li><a href="index-5.html">Header Style Five<i class="flaticon-next"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html">Tractores<i class="fa-solid fa-tractor"></i></a></li>
                                        <li><a href="index-2.html">Maquinaria Pesada<i class="fa-solid fa-industry"></i></a></li>
                                        <li><a href="index-3.html">Transpaleta/Apilador<i class="fa-solid fa-truck-pickup"></i></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="index-2.html">Ventas</a>
                                    <ul>
                                        <li><a href="about.html">Nuevos<i class="fa-solid fa-wand-magic-sparkles"></i></a></li>
                                        <li><a href="team.html">Reacondicionados<i class="fa-solid fa-wrench"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="index-2.html">Novedades</a></li>
                                <li><a href="index-2.html">Operadores</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="btn-box">
                        <%= link_to "Iniciar Sesión", new_user_session_path, class: "theme-btn style-five" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="large-container clearfix">
            <%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610580/logo_skl_bagtzk.jpg", class: "logo-skl ms-5" %>
            <div class="menu-area">
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <div class="btn-box">
                    <%= link_to "Iniciar Sesión", new_user_session_path, class: "theme-btn style-five" %>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- NAVBAR END -->

<!-- BANNER -->
<section class="banner-style-two">
    <div class="pattern-layer" style="background-image: url(/assets/landing_images/shape/shape-10.png);"></div>
    <div class="large-container">
        <div class="row clearfix">
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <p class="mt-4">Arriendo y venta de equipos con  <strong>el mejor servicio</strong> y la mejor <strong>continuidad operativa</strong> del mercado!</p>
                    <%= link_to "<i class='fa-solid fa-right-to-bracket'></i>Registrarse".html_safe, new_user_registration_path, class: "theme-btn style-five" %>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1 banner-image-size"><img src="/assets/landing_images/banner/banner-grua.png" alt=""></figure>
                    <figure class="image image-2 rotate-me"><img src="/assets/landing_images/icons/gear-4.png" alt=""></figure>
                    <figure class="image image-3 rotate-me"><img src="/assets/landing_images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-4 rotate-me"><img src="/assets/landing_images/icons/gear-5.png" alt=""></figure>
                    <figure class="image image-5 rotate-me"><img src="/assets/landing_images/icons/gear-6.png" alt=""></figure>
                    <div class="anim-icon">
                        <span class="icon icon-1"></span>
                        <span class="icon icon-2"></span>
                        <span class="icon icon-3"></span>
                        <span class="icon icon-4"></span>
                        <span class="icon icon-5"></span>
                        <span class="icon icon-6"></span>
                        <span class="icon icon-7"></span>
                        <span class="icon icon-8"></span>
                        <span class="icon icon-9"></span>
                        <span class="icon icon-10"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="subscribe-us">
  <div class="large-container">
    <div class="subscribe-inner">
      <form action="index-2.html" method="post">
        <div class="form-group">
          <input type="email" name="email" placeholder="Enter Email Address..." required="">
          <button type="submit"><i class="fa-solid fa-envelope"></i></i>Contáctanos</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- BANNER END -->

<!-- QUIÉNES SOMOS? -->
<section class="about-style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-7 col-md-12 col-sm-12 image-column">
                <div id="image_block_01">
                    <div class="image-box wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="pattern-layer" style="background-image: url(/assets/landing_images/shape/shape-12.png);"></div>
                        <figure class="image js-tilt"><%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610586/Banner_skl_ulxqhl.jpg" %></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                <div id="content_block_03">
                    <div class="content-box">
                        <div class="sec-title style-two text-left">
                            <p>¿Quiénes somos?</p>
                            <h2>Somos una empresa dedicada al arriendo de maquinarias</h2>
                            <div class="decor" style="background-image: url(/assets/landing_images/icons/decor-1.png);"></div>
                        </div>
                        <div class="text">
                            <p>Especializados en la logística interna de las empresas, enfocados en grúas horquilla y su gran variedad de aplicaciones.</p>
                        </div>
                        <div class="lower-box">
                            <div class="icon-box">
                                <div class="bg-box" style="background-image: url(/assets/landing_images/icons/icon-bg-3.png);"></div>
                                <i class="flaticon-brain-2"></i>
                            </div>
                            <h5>Impressive Works Since 2010</h5>
                            <a href="about.html"><i class="flaticon-next"></i>More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- QUIÉNES SOMOS? END -->


<!-- PROCESO (FEATURES) -->
<section class="process-style-two" style="background-image: url(/assets/landing_images/background/process-bg-1.jpg);">
    <div class="auto-container">
        <div class="sec-title text-center style-two">
            <h2>Proceso simple y limpio</h2>
            <p> Nos caracterizamos por asegurar continuidad de servicio, atención personalizada en conjunto con nuestras propuestas de mejora continua del producto y servicio.</p>
            <div class="decor" style="background-image: url(/assets/landing_images/icons/decor-1.png);"></div>
        </div>
        <div class="inner-content">
            <div class="line" style="background-image: url(/assets/landing_images/icons/line-1.png);"></div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="arrow-box" style="background-image: url(/assets/landing_images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/assets/landing_images/icons/border-1.png);"></div>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="00ms" data-wow-duration="1500ms"><span>01</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">Tus necesidades importan</a></h4>
                                <p>Nos aseguramos día a día de brindar un servicio impecable que este a la altura de nuestros clientes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="arrow-box" style="background-image: url(/assets/landing_images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/assets/landing_images/icons/border-1.png);"></div>
                                <i class="fa-solid fa-rocket"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="200ms" data-wow-duration="1500ms"><span>02</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">Tendrás equipos de calidad</a></h4>
                                <p>Mantener un equipo de trabajo e infraestructura que asegure un servicio de primer nivel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 work-block">
                    <div class="work-block-two">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="border-line" style="background-image: url(/assets/landing_images/icons/border-1.png);"></div>
                                <i class="fa-solid fa-brain"></i>
                            </div>
                            <div class="count-box wow zoomIn animated" data-wow-delay="400ms" data-wow-duration="1500ms"><span>03</span></div>
                            <div class="content-box wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <h4><a href="index-2.html">Analizamos y Optimizamos</a></h4>
                                <p>Incorporar nuevas tecnologías y mecanismos de trabajo más eficientes y rápidos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-btn wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms"><a href="index-2.html" class="theme-btn style-five"><i class="fa-solid fa-paint-roller"></i>Comenzar ahora</a></div>
        </div>
    </div>
</section>
<!-- PROCESO (FEATURES) END -->

<!-- CLIENTES -->
  <!-- <%#= render 'pages/shared/clientes' %> -->
<!-- CLIENTES END -->

<!-- NUEVOS -->
  <!-- <%#= render 'pages/shared/nuevos' %> -->
<!-- NUEVOS END -->

<section class="industries-section">
  <div class="pattern-layer">
    <div class="pattern-1" style="background-image: url(/assets/landing_images/shape/shape-57.png);"></div>
    <div class="pattern-2" style="background-image: url(/assets/landing_images/shape/shape-58.png);"></div>
  </div>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-6 col-sm-12 content-column">
        <div class="content-box">
          <div class="sec-title text-left light">
            <p>Contacta con nosotros</p>
            <h2>Crea una solicitud y rápidamente tendrás tu cuenta habilitada para realizar y adminstrar consultas.</h2>
            <div class="decor" style="background-image: url(/assets/landing_images/icons/decor-2.png);"></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= render partial: 'contact/form', locals: { contact: @contact } %>
    </div>
  </div>
</section>


<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fas fa-angle-up"></span>
</button>

<!-- jequery plugins -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/jquery.countTo.js"></script>
<script src="assets/js/scrollbar.js"></script>
<script src="assets/js/tilt.jquery.js"></script>

<!-- main-js -->
<script src="assets/js/script.js"></script>
