<h1>PSKL</h1>
<h2>Detalles de la solicitud</h2>
<p>Nombre: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>Empresa: <%= @contact.empresa %></p>
<p>Correo: <%= @contact.email %></p>
<p>Teléfono: <%= @contact.phone %></p>
<p>Mensaje: <%= @contact.message %></p>
