<h1>El usaurio <%= @contact.first_name %> <%= @contact.last_name %> ha solicitado información</h1>
<h2>Estos son sus detalles</h2>
<p>Nombre: <%= @contact.first_name %> <%= @contact.last_name %></p>
<p>Empresa: <%= @contact.empresa %></p>
<p>Correo: <%= @contact.email %></p>
<p>Teléfono: <%= @contact.phone %></p>
<p>Mensaje: <%= @contact.message %></p>
