<div class="container">

<%= simple_form_for( @equipo,
  data: {turbo: false}) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">

              <%# NEW INPUTS  %>
    <%= f.input :marca, label: "Marca",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "marca" }%>

    <%= f.input :modelo, label: "Modelo ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "modelo" }%>

    <%= f.input :disponible, label: "disponibilidad: ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "disponible" }%>

    <%= f.input :link, label: "link a especificaciones ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "link" }%>

    <%= f.input :follow_cost, label: "Costo de Segunda Consulta ",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "follow_cost" }%>

    <%= f.input :photo, label: "foto ",
    as: :file %>




  </div>

  <div class="btn btn-flat" style="color:white">
    <%= f.button :submit, "Registrarse" %>
  </div>
<% end %>

</div>
