<div class="container">
  <div class="card-product">
    <%= cl_image_tag @equipo.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @equipo.modelo %></h2>
      <h2><%= @equipo.marca %></h2>
      <h2><%= @equipo.link %></h2>
      <p><%= @equipo.disponible %></p>
    </div>
  </div>
</div>
