<div class="container">
  <div class="card-product">
    <%= cl_image_tag @venta.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @venta.modelo %></h2>
      <h2><%= @venta.marca %></h2>
      <h2><%= @venta.link %></h2>
      <h2><%= @venta.precio  %></h2>
      <p><%= @venta.disponible %></p>
    </div>
  </div>
</div>
