<div class="container-fluid">
<div class="container">
  <div class="cards">
      <% @traspaletas.each do |traspaleta|  %>
        <div class="card-trip img-fluid">
         <%= cl_image_tag(traspaleta.photo.key,:aspect_ratio=>"1.0", width: 350, height: 300,:crop=>"fill") %>
         <div class="card-trip-infos">
            <a><%= link_to " #{traspaleta.modelo}"  , traspaleta_path(traspaleta) %></a>
            <p> Marca: <%= traspaleta.marca %></h2>
            <p> disponibilidad: <%= traspaleta.disponible %></h6>
            <p></p>
            <a href="<%= traspaleta.link.to_s%>" style="font-size: 16px">Ficha tecnica </a>
          </div>
        </div>
    <% end %>
  </div>
</div>
