<div class="container-fluid">
<div class="container" style="  display: flex;justify-content: center;">
  <div class="card-product" style="margin-top: 16px;">
    <%= cl_image_tag @transpaleta.photo.key, height: 600, width: 800, crop: :fill %>
    <div class="card-product-infos">
      <h2 style="font-size: 24px"><%= @transpaleta.marca %></h2>
      <h2 style="font-size: 24px"><%= @transpaleta.modelo %></h2>
      <a href="<%= @transpaleta.link.to_s%>" style="font-size: 16px">Ficha tecnica </a>
      <p style="font-size: 14px;margin-bot: 12px;"><%= @transpaleta.availability %></p>
    </div>
  <%= render 'shared/skl_info' %>
  </div>
  <div class="card-product" style="margin-top: 16px;margin-left: 16px;padding: 12px;">
  <h3 h2 style="font-size:24px"> Descripcion: </h3>
   <h3 h2 style="font-size:24px"> <%= @transpaleta.descripcion %></h3>
  </div>
</div>
  <% if user_signed_in? %>
    <%= button_to "Delete", transpaleta_path(@transpaleta), class: "btn btn-outline-dark", method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_transpaleta_path(@transpaleta), class: "btn btn-outline-dark" %>
  <% end %>
</div>
