<div class="cards">
  <% @gruas.where(category: category).each do |grua|  %>
    <div class="card-trip img-fluid item-animate">
      <%= cl_image_tag(grua.photo.key,:aspect_ratio=>"1.0", width: 350, height: 300,:crop=>"fill") %>
      <div class="card-trip-infos">
        <a><%= link_to " #{grua.modelo}", grua_path(grua) %></a>
        <p> Marca: <%= grua.marca %></h2>
        <p class="availability" style="font-size: 14px;"><%= grua.availability %></p>
        <a href="<%= grua.link.to_s%>" style="font-size: 16px">Ficha tecnica</a>
      </div>
    </div>
  <% end %>
</div>
